body {
  /* Background */
  height: 930px;
  background: linear-gradient(to top left, rgb(0, 255, 170), rgb(50, 205, 197));
  background-size: cover;
}

h1 {
  top: 0;
  font-family: sans-serif;
  font-size: 445px;
}
